<a href="https://colab.research.google.com/github/Mc-Landers/Data-Science-Training-Python-Part-2/blob/main/LastNameFirstName_FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to AI: Machine Learning for Business - Final project

## Context

Congratulations, you’ve just been hired as an AI expert at a company.

For this final project you are required to choose and define a business problem of which you will apply machine learning to. 
Your final submission should include the following: 

- Problem definition
- Data Collection
- Data Processing
- Model Selection
- Results Visualization
- Results Interpretation



## What should you do ?

Make a notebook telling interesting things about the data you have fetched, tell a story (or many) using everything you learned. Build predictive models and compare them.  
You have to submit at least a notebook and any resources you used (like images or any other files).

## Assessment 
Here are the criteria we will use to assess your work:

### Is it meaningful?
As a machine learning expert you have to produce something meaningful enough, just plotting random data is not going to work. Like a story your analysis should have some kind of logical progression.

### How well did you use the technical knowledge you’ve been taught?
Obviously, the way you use everything you learned during the lectures is going to be assessed.

### Cleanliness, aesthetics and clearness of your notebook
Is your analysis full of unused code? Is it difficult to read? Have you tried to make it easy and enjoyable to read?

### Innovation
Creativity, surprising things or any good initiatives you take are potential bonus points.


### Careful:
	This work is individual, plagiarism is going to be measured by both machines and humans. Too many similarities between your work and any online or python buddy work will result in grade penalties.


Good Luck!

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("AB_NYC_2019.csv")

In [ ]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [ ]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.shape

(38821, 16)

In [ ]:
df['neighbourhood_group'].nunique() # 5 groups for OneHotEncoder

5

In [ ]:
df.corr()['price']

id                               -0.006696
host_id                           0.006263
latitude                          0.031344
longitude                        -0.155298
price                             1.000000
minimum_nights                    0.025501
number_of_reviews                -0.035924
reviews_per_month                -0.030623
calculated_host_listings_count    0.052895
availability_365                  0.078276
Name: price, dtype: float64

select some of the useful columns. to not ruin the original dataset, i use a new one called df_test.

In [ ]:
df_test=df[['neighbourhood_group','latitude','longitude','room_type','minimum_nights','reviews_per_month','availability_365','price']]

here i use LabelEncoder for stratifying the dataset later.

In [ ]:
from sklearn.preprocessing import LabelEncoder
neighbor_cat=df_test['neighbourhood_group'].values
le=LabelEncoder()
neighbor_cat_encoded=le.fit_transform(neighbor_cat)
df_test.loc[:,'neighbor_cat']=neighbor_cat_encoded

room_cat=df_test['room_type'].values
le2=LabelEncoder()
room_cat_encoded=le2.fit_transform(room_cat)
df_test.loc[:,'room_cat']=room_cat_encoded

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value

In [ ]:
df_test.head()

  neighbourhood_group  latitude  longitude  ... price  neighbor_cat  room_cat
0            Brooklyn  40.64749  -73.97237  ...   149             1         1
1           Manhattan  40.75362  -73.98377  ...   225             2         0
3            Brooklyn  40.68514  -73.95976  ...    89             1         0
4           Manhattan  40.79851  -73.94399  ...    80             2         0
5           Manhattan  40.74767  -73.97500  ...   200             2         0

[5 rows x 10 columns]

stratify the dataset ( i think it's better than train-split-test)

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(df_test, df_test[['neighbor_cat','room_cat']]):
    strat_train_set = df_test.iloc[train_index]
    strat_test_set = df_test.iloc[test_index]
strat_test_set.head()

      neighbourhood_group  latitude  longitude  ... price  neighbor_cat  room_cat
10220              Queens  40.74447  -73.92547  ...    50             3         1
31699            Brooklyn  40.70666  -73.94379  ...    60             1         1
17390            Brooklyn  40.68141  -73.96268  ...   225             1         0
23200            Brooklyn  40.67731  -73.94616  ...   150             1         0
30108            Brooklyn  40.67616  -73.96466  ...    69             1         0

[5 rows x 10 columns]

In [ ]:
strat_train_set=strat_train_set.drop(columns=['neighbor_cat','room_cat'])
strat_test_set=strat_test_set.drop(columns=['neighbor_cat','room_cat'])

get the train set and test set.

In [ ]:
X_train,y_train=strat_train_set.iloc[:,:-1].values,strat_train_set.iloc[:,-1].values
X_test,y_test=strat_test_set.iloc[:,:-1].values,strat_test_set.iloc[:,-1].values

feature scaling for numeric values.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ct = ColumnTransformer([
        ('somename', StandardScaler(), [1,2,4,5,6])
    ], remainder='passthrough')
X_train=ct.fit_transform(X_train)

encode the categorical values.

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-1,-2])], remainder='passthrough')
X_train=ct.fit_transform(X_train)

In [ ]:
X_train[0]

array([0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, -1.560648208819058,
       -0.02298976295024965, -0.22408716148154975, -0.2203957627018006,
       -0.8334678596438506], dtype=object)

encode for test set data, here the indices for columns is a bit different because in the train set, i used feature scaling and after that the sequence of columns had been changed.

In [ ]:
ct2 = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3,0])], remainder='passthrough')
X_test=ct2.fit_transform(X_test)

now i got the data prepared and began to try some models.  
first of all, of course, liner model.

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [ ]:
lr.score(X_test,y_test)

-363.828817907866

don't panic. i knew from beginning that linear regression wouldn't work. but still, never expected that it would be this bad.  
so i tried random forest.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
forest=RandomForestRegressor()
forest.fit(X_train,y_train)

RandomForestRegressor()

In [ ]:
forest.score(X_test,y_test)

-4.963747107775436

still sucks, but much better compared to the linear model.  
so i used grid search to try to find a better parameter to see if it could be greater than 0.

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = [
    {'n_estimators': list(range(51,80)), 'max_features': ['auto','sqrt',8,10]},
    {'bootstrap': [False], 'n_estimators': [list(range(5,50))], 'max_features': ['auto','sqrt']},
  ]
forest_reg = RandomForestRegressor(random_state=42)

grid_search = GridSearchCV(forest_reg, param_grid, cv=5,
                           scoring='neg_mean_squared_error', return_train_score=True,n_jobs=-1)
grid_search.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 590.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_forest.py", line 392, in fit
    self._validate_estimator()
  File "/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_base.py", line 133, in _validate_estimator
    type(self.n_estimators)
ValueError: n_estimators must be an integer, got <class 'list'>.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [-32020.1863304  -32003.89319871 -32079.07485807 -32154.57462074
 -32145.40610355 -32149.24798856 -32075.94645095 -32111.09697475
 -32150.30152574 -32134.44151412 -32139.40200494 -32086.93012035
 -32048.69479495 -32027.75773006 -31961.89415566 -32009.2299283
 -31942.5969689  -31959.64085772 -31890.86785254 -31896.74434623
 -31871.74925876 -31834.14724668 -31853.06892984 -31831.44277349
 -31858.8018459  -31815.88512927 -31854.65361412 -31907.534313
 -31830.94256051 -29381.14532463 -29383.00974277 -29416.29358351
 -29418.05910426 -29389.90219724 -29361.25313328 -29344.37937129
 -29319.72933302 -29338.66392712 -29354.46546496 -29355.17661268
 -29340.2496245  -29295.39048641 -29270.04518395 -29318.51108867
 -29290.47230352 -29270.70021322 -29263.66086047 -29231.27025647
 -29218.64952354 -29240.59031852 -29228.78902979 -29209.96202264
 -29211.05008082 -29206.9893851  -29181.94805249 -29197.74401736
 -29175.52218273 -29154.06937728 -30178.66916361 -30173.88726222
 -30197.16657707 -30161.63048295 -30137.1253235  -30117.28369562
 -30103.0324646  -30074.29372703 -30065.13186203 -30097.95126266
 -30131.97638796 -30063.89952593 -30039.27008713 -30057.90494738
 -30048.78488262 -30017.66796965 -29978.5971146  -30007.84258399
 -30011.87411793 -29996.54087623 -29998.5129374  -29953.03476734
 -29959.40577783 -29929.82783401 -29982.5814387  -29996.8447356
 -30008.51893982 -30013.4717925  -29980.56090813 -30922.51873343
 -30903.80291926 -30936.18632327 -30938.1888429  -30975.61101665
 -30933.21058367 -30944.12406793 -30953.81905609 -30912.47431754
 -30928.11457963 -30940.84752381 -30935.89766533 -30921.09007534
 -30890.3153774  -30839.42303808 -30852.42703271 -30804.98995108
 -30844.63669382 -30805.04117623 -30806.61561308 -30843.970992
 -30834.93160943 -30811.26510845 -30802.2523473  -30809.00640313
 -30770.37609    -30780.0063581  -30869.44109396 -30819.52309636
             nan             nan]
  category=UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the train scores are non-finite: [-4828.90371415 -4788.2183496  -4738.55630711 -4741.33335041
 -4737.92045164 -4782.55266727 -4747.30429479 -4713.55732558
 -4684.73413947 -4672.09751579 -4663.9740461  -4670.29831061
 -4649.24049757 -4629.18696116 -4608.40760048 -4573.94879341
 -4588.35755705 -4594.48286032 -4623.27106085 -4611.01246136
 -4608.38694071 -4616.15503905 -4617.6147632  -4631.62878568
 -4591.43738737 -4587.04016838 -4550.99757074 -4524.24199272
 -4551.69215264 -4260.0350279  -4226.3731476  -4187.24095593
 -4189.49185713 -4201.58922405 -4226.72575095 -4199.98374439
 -4147.12937004 -4104.11963425 -4076.28240657 -4079.30583044
 -4099.39121332 -4086.77004807 -4069.74736365 -4051.14797421
 -4026.14006562 -4051.16543537 -4049.63739183 -4090.50634728
 -4081.81635376 -4081.62539498 -4094.56506667 -4107.78486893
 -4135.16146144 -4095.80445821 -4100.56403444 -4069.55719863
 -4049.2104985  -4076.21665461 -4476.66399872 -4427.31961975
 -4388.80329883 -4387.01708865 -4396.47108918 -4417.95755681
 -4389.61077016 -4352.14797162 -4307.03246167 -4290.97285434
 -4294.97994035 -4311.90863435 -4296.71400381 -4283.9825958
 -4261.14449161 -4228.75028017 -4251.56497764 -4249.69816428
 -4287.09619504 -4279.81088136 -4271.56884778 -4287.3915897
 -4295.82396216 -4316.08852446 -4279.55114707 -4285.58979138
 -4249.1953132  -4225.29537183 -4253.13607527 -4647.49356053
 -4599.83059663 -4552.29719939 -4552.20099101 -4565.29376925
 -4579.49548686 -4548.63810858 -4513.58982457 -4463.29036346
 -4446.2286491  -4442.06926166 -4454.84438081 -4435.6319028
 -4422.26116223 -4392.4116745  -4360.3022559  -4378.53061723
 -4380.31741092 -4414.94233121 -4412.29586802 -4403.81177288
 -4417.33027066 -4422.8142038  -4443.20787854 -4406.14982526
 -4412.34190841 -4373.15711546 -4349.19776609 -4374.1489368
            nan            nan]
  category=UserWarning,

GridSearchCV(cv=5, estimator=RandomForestRegressor(random_state=42), n_jobs=-1,
             param_grid=[{'max_features': ['auto', 'sqrt', 8, 10],
                          'n_estimators': [51, 52, 53, 54, 55, 56, 57, 58, 59,
                                           60, 61, 62, 63, 64, 65, 66, 67, 68,
                                           69, 70, 71, 72, 73, 74, 75, 76, 77,
                                           78, 79]},
                         {'bootstrap': [False],
                          'max_features': ['auto', 'sqrt'],
                          'n_estimators': [[5, 6, 7, 8, 9, 10, 11, 12, 13, 14,
                                            15, 16, 17, 18, 19, 20, 21, 22, 23,
                                            24, 25, 26, 27, 28, 29, 30, 31, 32,
                                            33, 34, ...]]}],
             return_train_score=True, scoring='neg_mean_squared_error')

i don't run this one because it takes a while even on my own computer, i think it would be even slower in google colab. i tried several combinations of paramters in grid search, and this block of code gives me the best result, which is, unfortunately, -0.78.

here i tried XGBoost, without fine tuning the parameters, its score is -0.61. i believe that we can make it greater than 0 but usually a good score should be greater than 0.8 or even 0.9.

In [ ]:
import xgboost as xgb
bst=xgb.XGBRegressor(objective ='reg:squarederror')
bst.fit(X_train,y_train)

XGBRegressor(objective='reg:squarederror')

In [ ]:
bst.score(X_test,y_test)

-0.6198665484279233

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = [
    {'max_depth': list(range(3,10,2)), 'mean_child_weight': list(range(1,6,2))},
  ]
bst = xgb.XGBRegressor(base_score=0.5, colsample_bylevel=1,
             gamma=0, learning_rate=0.1,
             max_delta_step=0, missing=None,
             n_estimators=100, nthread=-1,
             reg_alpha=0,reg_lambda=1, scale_pos_weight=1,silent=True, 
             subsample=1, objective ='reg:squarederror',)

grid_search2 = GridSearchCV(bst, param_grid, cv=5,
                           scoring='r2', return_train_score=True,n_jobs=-1)
grid_search2.fit(X_train, y_train)

GridSearchCV(cv=5,
             estimator=XGBRegressor(nthread=-1, objective='reg:squarederror',
                                    silent=True),
             n_jobs=-1,
             param_grid=[{'max_depth': [3, 5, 7, 9],
                          'mean_child_weight': [1, 3, 5]}],
             return_train_score=True, scoring='r2')

In [ ]:

grid_search2.best_estimator_.score(X_test,y_test)

-0.6198665484279233

# ⭐ New Dataset

find the new one in google drive and upload it on google colab!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

Here I cleaned the data.

In [ ]:
import pandas as pd
df=pd.read_csv('car_prices.csv',error_bad_lines=False,warn_bad_lines=True)

df=df.dropna() # i checked the na values, most of them are not important so I simply dropped them

# compute the age of the car when it is sold. makes more sense to me compared to the 'year' attribute
df['sale_date'] = pd.to_datetime(df['saledate'],utc=True)
df['sale_year']=df['sale_date'].dt.year
df['age']=df['sale_year']-df['year']

df['make']=df['make'].map(lambda x:str(x).lower()) # all characters would be lower-case so that there's less 'nuinque'
df['model']=df['model'].map(lambda x:str(x).lower())
df['trim']=df['trim'].map(lambda x:str(x).lower())
df['body']=df['body'].map(lambda x:str(x).lower())

df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 408163: expected 16 fields, saw 17\nSkipping line 417837: expected 16 fields, saw 17\nSkipping line 421291: expected 16 fields, saw 17\nSkipping line 424163: expected 16 fields, saw 17\n'
b'Skipping line 427042: expected 16 fields, saw 17\nSkipping line 427045: expected 16 fields, saw 17\nSkipping line 434426: expected 16 fields, saw 17\nSkipping line 444503: expected 16 fields, saw 17\nSkipping line 453796: expected 16 fields, saw 17\n'
b'Skipping line 461599: expected 16 fields, saw 17\nSkipping line 461614: expected 16 fields, saw 17\n'
b'Skipping line 492486: expected 16 fields, saw 17\nSkipping line 497010: expected 16 fields, saw 17\nSkipping line 497013: expected 16 fields, saw 17\nSkipping line 499085: expected 16 fields, saw 17\nSkipping line 501457: expected 16 fields, saw 17\nSkipping line 505301: expected 16 fields, saw 17\nSkipping line 505308: expected 16 fields, saw 17\nSkipping line 520463: expected 16 fields, saw 17\n'
b'Skipping line 528998: expected 16 fields, saw 17\nSkipping line 529011: expected 16 fields, saw 17\nSkipping line 529015: expected 16 fields, saw 17\nSkipping line 529624: expected 16 fields, saw 17\nSkipping line 548786: expected 16 fields, saw 17\nSkipping line 551224: expected 16 fields, saw 17\nSkipping line 554712: expected 16 fields, saw 17\n'

   year   make                model  ...                 sale_date sale_year age
0  2015    kia              sorento  ... 2014-12-16 04:30:00+00:00      2014  -1
1  2015    kia              sorento  ... 2014-12-16 04:30:00+00:00      2014  -1
2  2014    bmw             3 series  ... 2015-01-14 20:30:00+00:00      2015   1
3  2015  volvo                  s60  ... 2015-01-28 20:30:00+00:00      2015   0
4  2014    bmw  6 series gran coupe  ... 2014-12-18 04:30:00+00:00      2014   0

[5 rows x 19 columns]

### First, we dropped all the rows with 'NA' values. Then, we extracted a new variable from Sale Date and Year. This is because having an "Age" attribute may prove to be more important for the predictions than having a "Year" attribute. For uniformity, we changed all characters in the dataset to lowercase.
### The dataset includes the following variables:


*   Year (Model year)
*   Make (Car brand)
*   Model (Car edition)
*   Trim (Car trim level; the model version)
*   Body (Car shape/body type)
*   Transmission (Power mechanism in the car)
*   VIN (Vehicle Identification Number)
*   State (The state where the car was being auctioned)
*   Condition (Car condition at time of auction)
*   Odometer (Car mileage)
*   Color (Exterior colour)
*   Interior (Car interior colour)
*   Seller (Car seller)
*   MMR (Manheim Market Report)
*   Selling price (The price at which the car was sold at the auction)
*   Sale Date (The date the price was auctioned)
*   Sale Year (The year the car was auctioned; extracted from the Sale Date variable)
*   Age (The age of the car at time of auction; extracted by subtracting the Year from the Sale Year)

In [ ]:
df['mmr'].value_counts

<bound method IndexOpsMixin.value_counts of 0         20500
1         20800
2         31900
3         27500
4         66000
          ...
558805    20300
558807    30200
558808    29800
558809    15100
558810    29600
Name: mmr, Length: 472336, dtype: int64>

In [ ]:
# this is my version of feature selection, we could always have more options. i dropped 'mmr' because it's already a predicted price made by others.
df=df.drop(columns=['vin','seller','mmr','sale_date','sale_year','saledate','year'])

# some of 'age' are -1 for reasons i dont know, but not a big number, so i just dropped them
df=df.loc[df['age']>=0,:]

df.head()

        make                model        trim  ... interior sellingprice age
2        bmw             3 series  328i sulev  ...    black      30000.0   1
3      volvo                  s60          t5  ...    black      27750.0   0
4        bmw  6 series gran coupe        650i  ...    black      67000.0   0
6        bmw                   m5        base  ...    black      65000.0   0
7  chevrolet                cruze         1lt  ...    black       9800.0   0

[5 rows x 12 columns]

### We deleted some features. VIN and Seller were deleted because their values are too unique to hold any relevance for the dataset. Sale Date, Sale Year, and Year were deleted because the new "Age" variable tells a more concise story. Since MMR is already a price prediction in its own right, we got rid of it as well.
### Some of the car ages were negative numbers, so we dropped them.

In [ ]:
df2=df.copy()

**We made a copy so that the original one won't be ruined.**

### data shuffling

In [ ]:
import numpy as np
# reindex the order of the columns to make it more convinient later
column_titles=['make', 'model', 'trim', 'body', 'transmission', 'state','color', 'interior',  'age','condition','odometer','sellingprice']
df2 = df2.reindex(columns=column_titles)

# prepare for shuffling
df2['age_cat'] = np.ceil(df2['age'] / 1.5)
df2['age_cat'].where(df2['age_cat'] < 10, 10.0, inplace=True)
df2['condition_cat']=round(df2['condition'],0)
df2['odometer_cat']=np.ceil(df2['odometer']/100000)
df2['odometer_cat'].where(df2['odometer_cat'] < 2, 2.0, inplace=True)

df2.head()

NameError: ignored

In [ ]:
df2['trim'].nunique()

1123

In [ ]:
df2['model'].nunique()

662

In [ ]:
df2['state'].nunique()

NameError: ignored

here comes the classic one (in my thought). i didn't do this first, and it took me more than an hour to realize there's something wrong with our individual homework. we had to use onehotencoder first for this dataset.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(sparse=False),['make', 'model', 'trim', 'body', 'transmission', 'state','color', 'interior'])], remainder='passthrough')
nparray=ct.fit_transform(df2)

# i transformed the result to dataframe cuz i don't know if numpy array could be directly shuffled.
df3=pd.DataFrame(nparray)
df3

       0     1     2     3     4     ...     1948     1949  1950  1951  1952
0       0.0   0.0   0.0   0.0   1.0  ...   1331.0  30000.0   1.0   4.0   1.0
1       0.0   0.0   0.0   0.0   0.0  ...  14282.0  27750.0   0.0   4.0   1.0
2       0.0   0.0   0.0   0.0   1.0  ...   2641.0  67000.0   0.0   4.0   1.0
3       0.0   0.0   0.0   0.0   1.0  ...  14943.0  65000.0   0.0   3.0   1.0
4       0.0   0.0   0.0   0.0   0.0  ...  28617.0   9800.0   0.0   2.0   1.0
...     ...   ...   ...   ...   ...  ...      ...      ...   ...   ...   ...
63410   0.0   0.0   0.0   0.0   0.0  ...  39821.0  11900.0   2.0   4.0   1.0
63411   0.0   0.0   0.0   0.0   0.0  ...  18729.0  13500.0   2.0   3.0   1.0
63412   0.0   0.0   0.0   0.0   0.0  ...  36836.0  16400.0   2.0   4.0   1.0
63413   0.0   0.0   0.0   0.0   0.0  ...  30233.0  15100.0   2.0   4.0   1.0
63414   0.0   0.0   0.0   0.0   0.0  ...  44462.0  14700.0   2.0   5.0   1.0

[63415 rows x 1953 columns]

stratified shuffling

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(df3, df3.iloc[:,-3:]):
    strat_train_set = df3.iloc[train_index]
    strat_test_set = df3.iloc[test_index]

strat_test_set

NameError: ignored

In [ ]:
# drop the 'cat' columns we used for shuffling
strat_train_set=strat_train_set.drop(columns=[2427,2428,2429])
strat_test_set=strat_test_set.drop(columns=[2427,2428,2429])

just to check

In [ ]:
strat_test_set

now we have our training set and test set

In [ ]:
X_train,y_train=strat_train_set.iloc[:,:-1].values,strat_train_set.iloc[:,-1].values
X_test,y_test=strat_test_set.iloc[:,:-1].values,strat_test_set.iloc[:,-1].values

### Feature Scaling

In [ ]:
from scipy._lib.six import X
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
scaler=StandardScaler()
num_attribs=[2423,2424,2425]
ct=ColumnTransformer([
        ("num", StandardScaler(), num_attribs),
    ],remainder='passthrough')
X_train=ct.fit_transform(X_train)
X_train

here i did feature scaling on our test set, using the same scaler with the training set so that the test set would stay pure. **imortant: use .transform rather than .fit_transform!!**

In [ ]:
X_test=ct.transform(X_test)

### model testing

Aight, now we have our data prepared and could run some models

#### Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

In [ ]:
# lol this one is a DISASTER
lr.score(X_test,y_test)

#### RandomForest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
forest=RandomForestRegressor(n_jobs=-1)
# this one takes forever
forest.fit(X_train,y_train)

In [ ]:
forest.score(X_train,y_train)

In [ ]:
forest.score(X_test,y_test)

#### XGBoost

In [ ]:
import xgboost as xgb
bst=xgb.XGBRegressor(objective ='reg:squarederror',n_jobs=-1)
bst.fit(X_train,y_train)

In [ ]:
bst.score(X_train,y_train)

In [ ]:
bst.score(X_test,y_test)